<div class="container mt-5">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-5">
            <div class="card-header text-white address">
              <h2 class="text-center">عرض المستخدمين</h2>
            </div>

            <div class="table-responsive Rebresentive p-4">
              <table class="table table-striped">
                <thead>
                  <tr class="text-center">
                    <th scope="col" class="p-3">م</th>
                    <th scope="col" class="p-3">اسم المستخدم</th>
                    <th scope="col" class="p-3 px-5">البريد الإلكترونى</th>
                    <th scope="col" class="p-3">الاسم كامل</th>
                    <th scope="col" class="p-3">التليفون المحمول</th>
                    <th scope="col" class="p-3">اللغة</th>
                    <th scope="col" class="p-3">الفرع</th>
                    <th scope="col" class="p-3">اسم المجموعة</th>
                    <th scope="col" class="p-3">الحالة</th>
                    <th scope="col" class="p-3">تعديل</th>
                    <th scope="col" class="p-3">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let item of AllUsers; let i = index"
                    class="text-center"
                  >
                    <td scope="row" class="p-3">
                      {{ i + 1 }}
                    </td>
                    <td class="p-3">
                      {{ item.username }}
                    </td>
                    <td class="p-3">
                      {{ item.email }}
                    </td>
                    <td class="p-3">
                      {{ item.fullName }}
                    </td>
                    <td class="p-3">
                      {{ item.phoneNumber }}
                    </td>
                    <td class="p-3">
                      {{ item.languageName }}
                    </td>
                    <td class="p-3">
                      {{ item.branchName }}
                    </td>
                    <td class="p-3">
                      {{ item.groupName }}
                    </td>
                    <td class="p-3">
                      <button
                        (click)="deactivUser(item.userId)"
                        class="btn ss"
                        [ngStyle]="{
                          color: item.isActive ? '#28a745' : '#dc3545'
                        }"
                      >
                        <ng-container *ngIf="item.isActive; else inactiveIcon">
                          <i class="bi fs-5 bi-toggle-on"></i>
                        </ng-container>
                        <ng-template #inactiveIcon>
                          <i class="bi fs-5 bi-toggle2-off"></i>
                        </ng-template>
                      </button>
                    </td>
                    <td class="p-3">
                      <button
                        class="btn btn-warning"
                        (click)="editUser(item.userId)"
                      >
                        <i class="bi bi-pencil-square text-light"></i>
                      </button>
                    </td>
                    <td class="p-3">
                      <button
                        class="btn btn-danger"
                        (click)="deleteUser(item.userId)"
                      >
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="p-3 d-flex justify-content-center">
  <button
    class="btn btn-outline-danger fs-4"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    إضافة مستخدم جديد
  </button>
</p>
<div class="collapse mt-5 Cardform" id="collapseExample"[ngClass]="{ 'show': flag }">
  <div class="card card-body">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <form [formGroup]="usersForm" (submit)="formHandler($event)">
                <div class="row">
                  <div class="col">
                    <label for="Username" class="form-label"
                      >إسم المستخدم</label
                    >
                    <input
                      formControlName="Username"
                      type="text"
                      class="form-control"
                      id="Username"
                      aria-describedby="emailHelp"
                    />
                    <ng-container *ngIf="getUserName.touched">
                      <div
                        *ngIf="getUserName.hasError('required')"
                        id="Username"
                        class="form-text text-danger"
                      >
                        من فضلك ادخل الاسم المستخدم
                      </div>
                      <div
                        *ngIf="getUserName.hasError('minlength')"
                        id="Username"
                        class="form-text text-danger"
                      >
                        لا يقل الاسم عن 3 حروف
                      </div>
                    </ng-container>
                  </div>
                  <div class="col">
                    <label for="name" class="form-label"> الاسم كامل</label>
                    <input
                      formControlName="name"
                      type="text"
                      class="form-control"
                      id="name"
                      aria-describedby="emailHelp"
                    />
                    <ng-container *ngIf="getName.touched">
                      <div
                        *ngIf="getName.hasError('required')"
                        id="name"
                        class="form-text text-danger w-75"
                      >
                        من فضلك ادخل الاسم كامل
                      </div>
                      <div
                        *ngIf="getName.hasError('minlength')"
                        id="name"
                        class="form-text text-danger w-75"
                      >
                        لا يقل الاسم عن 3 حروف
                      </div>
                      <div
                        *ngIf="getName.hasError('pattern')"
                        id="Username"
                        class="form-text text-danger"
                      >
                        ادخل حروف فقط
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="password" class="form-label">
                      كلمة المرور</label
                    >
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control"
                      id="password"
                      aria-describedby="emailHelp"
                    />
                    <ng-container *ngIf="getUserPassword.touched">
                      <div
                        *ngIf="getUserPassword.hasError('required')"
                        id="password"
                        class="form-text text-danger w-75"
                      >
                        من فضلك ادخل كلمة المرور
                      </div>
                      <div
                        *ngIf="getUserPassword.hasError('pattern')"
                        id="password"
                        class="form-text text-danger w-75"
                      >
                        يجب ان تحتوى كلمة المرور على الاقل حرف كبير وحروف خاصة
                        وارقام واحرف صغيرة
                      </div>
                    </ng-container>
                  </div>
                  <div class="col">
                    <label for="email" class="form-label">
                      البريد الالكتروني</label
                    >
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control"
                      id="email"
                      aria-describedby="emailHelp"
                    />
                    <ng-container *ngIf="getUserEmail.touched">
                      <div
                        *ngIf="getUserEmail.hasError('required')"
                        id="email"
                        class="form-text text-danger w-75"
                      >
                        من فضلك ادخل البريد الالكتروني
                      </div>
                      <div
                        *ngIf="getUserEmail.hasError('email')"
                        id="email"
                        class="form-text text-danger w-75"
                      >
                        البريد الالكترونى غير صالح
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="phone" class="form-label">
                      التليفون المحمول</label
                    >
                    <input
                      formControlName="phone"
                      type="text"
                      class="form-control"
                      id="phone"
                      aria-describedby="emailHelp"
                    />
                    <ng-container *ngIf="getUserPhone.touched">
                      <div
                        *ngIf="getUserPhone.hasError('required')"
                        id="phone"
                        class="form-text text-danger w-75"
                      >
                        من فضلك ادخل رقم المحمول
                      </div>
                      <div
                        *ngIf="getUserPhone.hasError('max')"
                        id="phone"
                        class="form-text text-danger w-75"
                      >
                        يجب ان يحتوى الرقم على 11 رقم فقط
                      </div>
                      <div
                        *ngIf="getUserPhone.hasError('pattern')"
                        id="phone"
                        class="form-text text-danger w-75"
                      >
                        رقم المحمول غير صالح
                      </div>
                    </ng-container>
                  </div>
                  <div class="col">
                    <label for="disabledSelect" class="form-label"
                      >اسم المجموعه</label
                    >
                    <select formControlName="group" class="form-select">
                      <option *ngFor="let G of Groups" [value]="G.groupId">
                        {{ G.groupName }}
                      </option>
                    </select>
                    <ng-container *ngIf="getUserGroup.touched">
                      <div
                        *ngIf="getUserGroup.hasError('required')"
                        id="disabledSelect"
                        class="form-text text-danger w-75"
                      >
                        من فضلك اختر اسم المجموعة
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label for="disabledSelect" class="form-label">الفرع</label>
                    <select formControlName="branch" class="form-select">
                      <option *ngFor="let B of Branches" [value]="B.id">
                        {{ B.name }}
                      </option>
                    </select>
                    <ng-container *ngIf="getUserBranch.touched">
                      <div
                        *ngIf="getUserBranch.hasError('required')"
                        class="form-text text-danger w-75"
                      >
                        من فضلك اختر اسم الفرع
                      </div>
                    </ng-container>
                  </div>
                  <div class="col">
                    <label for="disabledSelect" class="form-label">اللغة</label>
                    <select formControlName="language" class="form-select">
                      <option
                        *ngFor="let L of Languages"
                        [value]="L.languageId"
                      >
                        {{ L.languageName }}
                      </option>
                    </select>
                    <ng-container *ngIf="getUserLanguage.touched">
                      <div
                        *ngIf="getUserLanguage.hasError('required')"
                        id="disabledSelect"
                        class="form-text text-danger w-75"
                      >
                        من فضلك اختر اللغة
                      </div>
                    </ng-container>
                  </div>
                </div>
                <button
                  (click)="back()"
                  class="btn btn-success m-2 pull-right float-start back bb"
                  >
                  تراجع
                </button>
                <button
                  [disabled]="!usersForm.valid"
                  (click)="addUser()"
                  *ngIf="!flag"
                  class="btn btn-danger m-2 pull-right float-start bb"
                  >
                  إضافة
                </button>
                <button
                  (click)="saveUser()"
                  *ngIf="flag"
                  class="btn btn-warning m-2 pull-right float-start bb"
                  >
                  تعديل
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5">

</div>