<nav class="navbar navbar-expand-lg navbar-dark bg-dark-c" [ngStyle]="{'display': navhidden ? 'block' : 'none'}"style="direction: ltr;">
    <div class="container">

        <button class="navbar-toggler order-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand" href="#"></a>
       
        <div class="collapse navbar-collapse ml-auto" id="navbarNav">

            <ul class="navbar-nav">
                
                <li class="nav-item" >
                    <a [routerLink]="['/login']" class="nav-link float-start px-0 text-light" (click)="signOut()">
                        <div class="d-flex">
                            <i class="fs-4  me-3 bi bi-person-fill-x"></i>
                            <span class="ms-2d-none d-sm-inline fs-5 ">تسجل خروج</span>
                        </div>
                    </a>
                </li>
             
            </ul>
        </div>
    </div>
</nav>