<div class=" bg-color px-3 pt-2 h-100 " [ngStyle]="{'display': navhidden ? 'block' : 'none'}">
    <div class="text-center d-flex flex-column my-3 pt-2 ">
      <a class="nav-link text-center ">
        <img src="../../../assets/images/logo" class="rounded-circle mx-2 logo" height="110" loading="lazy" />
      </a>
    </div>
    <div class="mt-5 ">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item   " [hidden]="!GroupsPagePower" >
                <a [routerLink]="['/home']"
                [routerLinkActive]="' test px-3'"
                [routerLinkActiveOptions]="{exact:true}"
                 class="nav-link align-middle ">
 <div class="d-flex justify-content-around">
      <i class=" fs-4 bi bi-house-check-fill ms-2"></i>
         <span class="ms-2 d-none d-sm-inline fs-5 ">الرئيسية</span>
                   </div>
          </a>
     </li>
            
            
            <li class="nav-item   " [hidden]="!GroupsPagePower" >
                    <a [routerLink]="['/groups']"
                    [routerLinkActive]="' test px-3'"
                    [routerLinkActiveOptions]="{exact:true}"
                     class="nav-link align-middle ">
     <div class="d-flex justify-content-around">
          <i class=" fs-4 bi bi-people-fill ms-2"></i>
             <span class="ms-2 d-none d-sm-inline fs-5 ">المجموعات</span>
                       </div>
              </a>
         </li>
                                  
  <li class="nav-item" [hidden]="!UsersPagePower">
  <a [routerLink]="['/users']" 
  [routerLinkActive]="' test px-3'"
  [routerLinkActiveOptions]="{exact:true}"
  class="nav-link align-middle ">
  <div class="d-flex justify-content-around">
  <i class=" fs-4 bi bi-person-lines-fill ms-2"></i>
  <span class="ms-2 d-none d-sm-inline fs-5 ">المستخدمين</span>
  </div>
  </a>
  </li>
  <li class="nav-item" [hidden]="!BranchesPagePower">
  <a [routerLink]="['/branches']"
  [routerLinkActive]="' test  pe-3 ps-5'"
  [routerLinkActiveOptions]="{exact:true}"
  class="nav-link align-middle ">
  <div class="d-flex justify-content-around">
  <i class=" fs-4 bi  bi-geo-alt-fill ms-2"></i>
  <span class="ms-2 d-none d-sm-inline fs-5 ">الفروع</span>
  </div>
  </a>
  </li>
  <li class="nav-item" [hidden]="!CoursesPagePower">
  <a [routerLink]="['/courses']"
  [routerLinkActive]="' test px-3'"
  [routerLinkActiveOptions]="{exact:true}"
  class="nav-link align-middle">     
  <div class="d-flex justify-content-around">
  <i class=" fs-4 bi bi-plus-slash-minus ms-2"></i>
  <span class="ms-2 d-none d-sm-inline fs-5 ">الكورسات</span>
  </div>
                                  
  </a>
  </li>
  <li class="nav-item" [hidden]="!SubjectsPower">
  <a [routerLink]="['/subjects']"
  [routerLinkActive]="' test pe-3 ps-5 '"
  [routerLinkActiveOptions]="{exact:true}"
  class="nav-link align-middle ">
  <div class="d-flex justify-content-around">
  <i class=" fs-4 bi bi-book ms-2"></i>
  <span class="ms-2 d-none d-sm-inline fs-5 ">المواد</span>
  </div>
  </a>
  </li>
  <li class="nav-item" [hidden]="!TraineeAdditionPower">
                                  
  <a  class="nav-link align-middle ">
                                  
  <div class="d-flex justify-content-around">
                                                      
  <li> <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
  <i class="fs-4 bi-grid ms-2"></i> <span class="ms-2 d-none d-sm-inline fs-5">الطلاب</span> </a>
  <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
  <li class="w-100 "> <a 
      [routerLink]="['/students']" 
      [routerLinkActive]="' test '"
  [routerLinkActiveOptions]="{exact:true}"
      class="nav-link px-0 bi bi-person-add"> 
      اضافه طالب
  </a> </li>
  <li class="w-100   "> <a 
      [routerLink]="['/studentcourse']" 
      [routerLinkActive]="' test '"
  [routerLinkActiveOptions]="{exact:true}"
      class="nav-link px-2 bi bi-file-earmark-plus-fill"> 
      اضافه كورس للطالب
  </a> </li>
  
  <li class="w-100   "> 
  <a  [routerLink]="['/payments']" 
  [routerLinkActive]="' test '"
  [routerLinkActiveOptions]="{exact:true}"
  class="nav-link px-0 bi bi-credit-card-2-back-fill ">
  المدفوعات
  </a>
  </li>                                
  </ul>
  
  </li>  
                                                      </div>
                                  
                                                  </a>
                                              <!-- </li>
                                             
                                  
                                            <li class="nav-item" >
                                              <a [routerLink]="['/login']" class="nav-link align-middle px-0 text-light" (click)="signOut()">
                                                  <div class="d-flex justify-content-around">
                                                      <i class=" fs-4 bi bi-person ms-2"></i>
                                                      <span class="ms-2 d-none d-sm-inline fs-5 ">تسجل خروج</span>
                                                  </div>
                                              </a>
                                          </li> -->
                                          </ul>
  
    </div>
  </div>
  
