/* .address {
  background-color: #30475E;
}

.save {
  background-color: #F05454;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px;
}

.save:hover {
  background-color: #DDDDDD;
  color: #F05454;
  border: none;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px;
}

.show {
  background-color: #30475E;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 4px;
  text-align: center;

}

.show:hover {
  background-color: #F05454;
  color: white;
  border: none;
  border-radius: 3px;
 

}

.card {
  box-shadow: 2px 2px 2px 2px rgb(169, 168, 168);
  background-color: #EEEEEE;
}

input {
  border-radius: 20px;
  border: none;
}

input:hover {
  border: 2px #F05454;
  border-radius: 10px
}

.Tabletext {
  color: #30475E;
  font-size: 20px;
}
.hea {
  text-align: right;
} */

.card{
  box-shadow: 2px 2px 2px 2px rgb(203, 201, 201);
  margin-bottom: 25px;
  /* background-color: #EEEEEE; */
}
.address{
  background-color: #30475E;
}
.Cardform{
  padding-left: 7rem;
  padding-right: 7rem;
  margin: 25px;
}
.bi.bi-check-circle.fs-4 {
  color: green;
  font-size: medium;
}
.bi.bi-x-circle.fs-4{
color: red;
font-size: medium;
}