<div class="container mt-5">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
              <div class="card-header text-white address">
                <h2 class="text-center">إضافة كورس للطالب</h2>
              </div>
              <div class="main-content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card-body">
                        <form
                          (submit)="formHandler($event)"
                          [formGroup]="studentCourseForm"
                        >
                          <div class="mb-3">
                            <label for="branchSelect" class="form-label"
                              >بحث بالفرع</label
                            >
                            <select
                              formControlName="branchName"
                              id="branchSelect"
                              class="form-select"
                              (change)="getstudents()"
                            >
                              <option *ngFor="let branch of branches" [value]="branch.id">
                                {{ branch.name }}
                              </option>
                            </select>
                            <ng-container *ngIf="getBranchName.touched">
                              <div
                                *ngIf="getBranchName.hasError('required')"
                                id="name"
                                class="form-text text-danger"
                              >
                                من فضلك اختار اسم الفرع
                              </div>
                            </ng-container>
                          </div>
                          <div class="mb-3">
                            <label for="nameSelect" class="form-label">بحث بالاسم</label>
                            <select
                              formControlName="studentName"
                              id="nameSelect"
                              class="form-select"
                              (change)="getStudentById(); getStudentdCourse()"
                            >
                              <option
                                *ngFor="let student of students"
                                [value]="student.traineeId"
                              >
                                {{ student.arabicFullName }}
                              </option>
                            </select>
                            <ng-container *ngIf="getStudentName.touched">
                              <div
                                *ngIf="getStudentName.hasError('required')"
                                id="name"
                                class="form-text text-danger"
                              >
                                من فضلك ادخل اسم الطالب
                              </div>
                            </ng-container>
                          </div>
                          <div class="mb-3">
                            <label for="courseSelect" class="form-label"
                              >اسم الكورس</label
                            >
                            <select
                              formControlName="courseName"
                              id="courseSelect"
                              class="form-select"
                            >
                              <option
                                *ngFor="let course of courses"
                                [value]="course.courseId"
                              >
                                {{ course.courseName }}
                              </option>
                            </select>
                            <ng-container *ngIf="getcourseName.touched">
                              <div
                                *ngIf="getcourseName.hasError('required')"
                                id="name"
                                class="form-text text-danger"
                              >
                                من فضلك ادخل اسم الكورس
                              </div>
                            </ng-container>
                          </div>
                          <div class="mb-3">
                            <label for="time" class="form-label">تاريخ التقديم</label>
                            <input
                              type="date"
                              formControlName="dateOfCourse"
                              class="form-control"
                              id="time"
                              placeholder="يوم/شهر/سنة"
                              aria-describedby="emailHelp"
                            />
                            <ng-container *ngIf="getdateOfCoursee.touched">
                              <div
                                *ngIf="getdateOfCoursee.hasError('required')"
                                id="name"
                                class="form-text text-danger"
                              >
                                من فضلك ادخل اسم تاريخ التقديم
                              </div>
                            </ng-container>
                          </div>
                          <button
                            (click)="back()"
                            class="btn btn-success ms-2 float-start back"
                          >
                            تراجع
                          </button>
                          <button
                            [disabled]="!studentCourseForm.valid"
                            class="btn btn-danger ms-2 float-start save"
                            (click)="addStudentCourse()"
                          >
                            اضافة
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<div class="collapse mt-5 Cardform" id="collapseExample" [ngClass]="{ 'show': showTable }">
          <div class="card mb-5">
            <div class="card-header text-white address">
              <h2 class="text-center">عرض بيانات الطالب</h2>
            </div>

            <div class="table-responsive Rebresentive p-4">
              <table class="table table-striped">
                <thead class="text-primary">
                  <tr class="text-center">
                    <th scope="col" class="p-3">م</th>
                    <th scope="col" class="p-3">اسم الطالب</th>
                    <th scope="col" class="p-3">الرقم القومي</th>
                    <th scope="col" class="p-3">المؤهل</th>
                    <th scope="col" class="p-3">تليفون للتواصل</th>
                    <th scope="col" class="p-3">الموقف التجنيدي</th>
                    <th scope="col" class="p-3">اسم الفرع</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="studentOfId" class="text-center">
                    <td scope="row" class="p-3">
                      {{ 1 }}
                    </td>
                    <td class="p-3">
                      {{ studentOfId.arabicFullName }}
                    </td>
                    <td class="p-3">
                      {{ studentOfId.traineeNationalId }}
                    </td>
                    <td class="p-3">
                      {{ studentOfId.academicQualification }}
                    </td>
                    <td class="p-3">{{ studentOfId.firstPhoneNumber }}</td>
                    <td class="p-3">{{ studentOfId.militaryStatus }}</td>
                    <td class="p-3">{{ studentOfId.branchName }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card mb-5">
            <div class="card-header text-white address">
              <h2 class="text-center">عرض كورسات الطالب</h2>
            </div>
            <div class="table-responsive">
              <table
                class="table text-center table table-striped table-hover Tabletext"
              >
                <thead class="text-primary">
                  <tr class="text-center">
                    <th>م</th>
                    <th>اسم الكورس</th>
                    <th>وصف الكورس</th>
                    <th>عددالساعات</th>
                    <th>تاريخ التقديم</th>
                    <th>نكلفة الكورس</th>
                    <th>حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let Scrs of StdCrs; let i = index"
                    class="text-center"
                  >
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      {{ Scrs.courseName }}
                    </td>
                    <td>
                      {{ Scrs.courseDescription }}
                    </td>
                    <td>{{ Scrs.courseDurationInHours }}</td>
                    <td>
                      {{ Scrs.registrationDate | date : "mediumDate" }}
                    </td>
                    <td>{{ Scrs.courseCost }}</td>
                    <td>
                      <button
                        (click)="
                          deleteCourseStudent(
                            Scrs.courseId,
                            Scrs.registrationDate
                          )
                        "
                        class="btn btn-danger"
                      >
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
</div>
