<div class="container">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger text-white address ">
              <h4 class="card-title text-center ">إضافة كورس للطالب</h4>
            </div>
            <div class="card-body text-righ fs-5">
              <form
                (submit)="formHandler($event)"
                [formGroup]="studentCourseForm"
              >
                <div class="mb-3">
                  <label for="branchSelect" class="form-label"
                    >بحث بالفرع</label
                  >
                  <select
                    formControlName="branchName"
                    id="branchSelect"
                    class="form-select"
                    (change)="getstudents()"
                  >
                    <option *ngFor="let branch of branches" [value]="branch.id">
                      {{ branch.name }}
                    </option>
                  </select>
                  <ng-container *ngIf="getBranchName.touched">
                    <div
                      *ngIf="getBranchName.hasError('required')"
                      id="name"
                      class="form-text text-danger"
                    >
                      من فضلك اختار اسم الفرع
                    </div>
                  </ng-container>
                </div>
                <div class="mb-3">
                  <label for="nameSelect" class="form-label">بحث بالاسم</label>
                  <select
                    formControlName="studentName"
                    id="nameSelect"
                    class="form-select"
                    (change)="getStudentById(); getStudentdCourse()"
                  >
                    <option
                      *ngFor="let student of students"
                      [value]="student.traineeId"
                    >
                      {{ student.arabicFullName }}
                    </option>
                  </select>
                  <ng-container *ngIf="getStudentName.touched">
                    <div
                      *ngIf="getStudentName.hasError('required')"
                      id="name"
                      class="form-text text-danger"
                    >
                      من فضلك ادخل اسم الطالب
                    </div>
                  </ng-container>
                </div>
                <div class="mb-3">
                  <label for="courseSelect" class="form-label"
                    >اسم الكورس</label
                  >
                  <select
                    formControlName="courseName"
                    id="courseSelect"
                    class="form-select"
                  >
                    <option
                      *ngFor="let course of courses"
                      [value]="course.courseId"
                    >
                      {{ course.courseName }}
                    </option>
                  </select>
                  <ng-container *ngIf="getcourseName.touched">
                    <div
                      *ngIf="getcourseName.hasError('required')"
                      id="name"
                      class="form-text text-danger"
                    >
                      من فضلك ادخل اسم الكورس
                    </div>
                  </ng-container>
                </div>
                <div class="mb-3">
                  <label for="time" class="form-label">تاريخ التقديم</label>
                  <input
                    type="date"
                    formControlName="dateOfCourse"
                    class="form-control"
                    id="time"
                    placeholder="يوم/شهر/سنة"
                    aria-describedby="emailHelp"
                  />
                  <ng-container *ngIf="getdateOfCoursee.touched">
                    <div
                      *ngIf="getdateOfCoursee.hasError('required')"
                      id="name"
                      class="form-text text-danger"
                    >
                      من فضلك ادخل اسم تاريخ التقديم
                    </div>
                  </ng-container>
                </div>
                <button (click)="back()"class="btn btn-primary ms-2 float-start back">
                  تراجع
                </button>
                <button
                  [disabled]="!studentCourseForm.valid"
                  class="btn btn-primary ms-2 float-start save"
                  (click)="addStudentCourse()"
                >
                  اضافة
                </button>
              </form>
            </div>
          </div>
        </div>

        <!-- table 1
  <div class="main-content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-dark bg-dark">
              <h4 class="card-title text-center text-white">بيانات الطالب</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table text-center">
                  <thead class="text-primary">
                    <th>م</th>
                    <th>اسم الطالب</th>
                    <th>الرقم القومي</th>
                    <th>المؤهل</th>
                    <th>تليفون للتواصل</th>
                    <th>الموقف التجنيدي</th>
                    <th>اسم الفرع</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="studentOfId">
                      <td>
                        {{1}}
                      </td>
                      <td>
                        {{studentOfId.arabicFullName}}
                      </td>
                      <td>
                        {{ studentOfId.traineeNationalId }}
                      </td>
                      <td>
                        {{ studentOfId.academicQualification }}
                      </td>
                      <td>{{ studentOfId.firstPhoneNumber }}</td>
                      <td>{{ studentOfId.militaryStatus }}</td>
                      <td>{{ studentOfId.branchName }}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
        <!-- table 2
  <div class="main-content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-dark bg-dark">
              <h4 class="card-title text-center text-white">كورسات الطالب</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table text-center">
                  <thead class="text-primary">
                    <th>م</th>
                    <th>اسم الكورس</th>
                    <th>وصف الكورس</th>
                    <th>عددالساعات</th>
                    <th>تاريخ التقديم</th>
                    <th>نكلفة الكورس</th>
                    <th>حذف</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let Scrs of StdCrs; let i = index">
                      <td>
                        {{ i + 1 }}
                      </td>
                      <td>
                        {{ Scrs.courseName }}
                      </td>
                      <td>
                        {{ Scrs.courseDescription }}
                      </td>
                      <td>{{Scrs.courseDurationInHours}}</td>
                      <td>
                        {{ Scrs.registrationDate | date:'mediumDate'}}
                      </td>
                      <td>{{ Scrs.courseCost }}</td>
                      <td>
                        <button
                          mat-raised-button
                          type="submit"
                          class="btn btn-danger"
                          (click)="deleteCourseStudent(Scrs.courseId,Scrs.registrationDate)"
                        >

                          حذف
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
        <p class="p-3 d-flex justify-content-start">
          <button
            class="btn p-3 fs-4 show"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            عرض بيانات الطالب
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="main-content mt-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table text-center table table-striped table-hover Tabletext">
                          <thead class="text-primary">
                            <th>م</th>
                            <th>اسم الطالب</th>
                            <th>الرقم القومي</th>
                            <th>المؤهل</th>
                            <th>تليفون للتواصل</th>
                            <th>الموقف التجنيدي</th>
                            <th>اسم الفرع</th>
                          </thead>
                          <tbody>
                            <tr *ngIf="studentOfId">
                              <td>
                                {{ 1 }}
                              </td>
                              <td>
                                {{ studentOfId.arabicFullName }}
                              </td>
                              <td>
                                {{ studentOfId.traineeNationalId }}
                              </td>
                              <td>
                                {{ studentOfId.academicQualification }}
                              </td>
                              <td>{{ studentOfId.firstPhoneNumber }}</td>
                              <td>{{ studentOfId.militaryStatus }}</td>
                              <td>{{ studentOfId.branchName }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-3 d-flex justify-content-start">
          <button
            class="btn btn-primary p-3 fs-4 show"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            عرض كورسات الطالب
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="main-content mt-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table text-center table table-striped table-hover Tabletext">
                          <thead class="text-primary">
                            <th>م</th>
                            <th>اسم الكورس</th>
                            <th>وصف الكورس</th>
                            <th>عددالساعات</th>
                            <th>تاريخ التقديم</th>
                            <th>نكلفة الكورس</th>
                            <th>حذف</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let Scrs of StdCrs; let i = index">
                              <td>
                                {{ i + 1 }}
                              </td>
                              <td>
                                {{ Scrs.courseName }}
                              </td>
                              <td>
                                {{ Scrs.courseDescription }}
                              </td>
                              <td>{{ Scrs.courseDurationInHours }}</td>
                              <td>
                                {{
                                  Scrs.registrationDate | date : "mediumDate"
                                }}
                              </td>
                              <td>{{ Scrs.courseCost }}</td>
                              <td>
                                <button
                                  mat-raised-button
                                  type="submit"
                                  class="btn btn-danger"
                                  (click)="
                                    deleteCourseStudent(
                                      Scrs.courseId,
                                      Scrs.registrationDate
                                    )
                                  "
                                >
                                  حذف
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
