.card{
  box-shadow: 2px 2px 2px 2px rgb(203, 201, 201);
  /* background-color: #EEEEEE; */
}
.address{
  background-color: #30475E;
}
.Cardform{
  padding-left: 7rem;
  padding-right: 7rem;
  margin: 25px;
}
