<div class="container">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger text-light address">
              <h4 class="card-title text-center">إضافة فرع خاص بالاكاديميه</h4>
            </div>
            <div class="card-body text-right fs-5">
              <form [formGroup]="branchForm" (submit)="formHandelr($event)">
                <div class="row">
                  <div class="col mb-3">
                    <label for="branchname" class="form-label">إسم الفرع</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="branchName"
                    id="branchname"
                    aria-describedby="emailHelp"
                  />
                  <ng-container *ngIf="getBranchName.touched">
                    <div
                      *ngIf="getBranchName.hasError('required')"
                      class="form-text text-danger"
                    >
                      من فضلك ادخل اسم الفرع
                    </div>
                    <div
                      *ngIf="getBranchName.hasError('minlength')"
                      class="form-text text-danger"
                    >
                      لا يقل الاسم عن حرفين
                    </div>
                    <div
                      *ngIf="getBranchName.hasError('maxlength')"
                      class="form-text text-danger"
                    >
                      لا يزيد الاسم عن 15 حرف
                    </div>
                    <div
                      *ngIf="getBranchName.hasError('pattern')"
                      class="form-text text-danger"
                    >
                      ادخل حروف فقط
                    </div>
                  </ng-container>
                  </div>
                  <div class="col mb-3">
                    <label for="branchsupervisor" class="form-label">
                      اسم مشرف الفرع</label
                    >
                    <select
                      id="disabledSelect"
                      formControlName="supervisorName"
                      class="form-select"
                    >
                    <option *ngFor="let x of users" [value]="x">
                      {{ x }}
                    </option>
                    </select>

                    <ng-container *ngIf="branchForm.touched">
                      <div
                        *ngIf="getSupervisorName.hasError('required')"
                        class="form-text text-danger"
                      >
                        من فضلك اختر اسم مشرف الفرع
                      </div>
                    </ng-container>
                </div>
                </div>

                <div class="row">
                  <div class="col mb-3">
                    <label for="phone" class="form-label">التليفون المحمول</label>
                    <input
                      type="text"
                      formControlName="supervisorPhoneNumber"
                      class="form-control"
                      id="phone"
                      aria-describedby="emailHelp"
                    />
                    <ng-container *ngIf="getSupervisorPhoneNumber.touched">
                      <div
                        *ngIf="getSupervisorPhoneNumber.hasError('required')"
                        class="form-text text-danger"
                      >
                        من فضلك ادخل رقم التليفون المحمول
                      </div>
                      <div
                        *ngIf="getSupervisorPhoneNumber.hasError('minlength')"
                        class="form-text text-danger"
                      >
                        لا يقل الرقم عن 11 رقم
                      </div>
                      <div
                        *ngIf="getSupervisorPhoneNumber.hasError('maxlength')"
                        class="form-text text-danger"
                      >
                        لا يزيد الرقم عن 11 رقم
                      </div>

                      <div
                        *ngIf="getSupervisorPhoneNumber.hasError('pattern')"
                        class="form-text text-danger"
                      >
                        من فضلك ادخل ارقام فقط تبداء ب 010/011/012
                      </div>
                    </ng-container>
                  </div>
                  <div class="col mb-3">
                    <label for="homephone" class="form-label">
                      التليفون الارضي
                    </label>
                    <input
                      type="text"
                      formControlName="supervisorLandlineNumber"
                      class="form-control"
                      id="homephone"
                      aria-describedby="emailHelp"
                    />
                    <ng-container *ngIf="getSupervisorPhoneNumber.touched">
                      <div
                        *ngIf="getSupervisorLandlineNumber.hasError('required')"
                        class="form-text text-danger"
                      >
                        من فضلك ادخل رقم التليفون الارضي
                      </div>
                      <div
                        *ngIf="getSupervisorLandlineNumber.hasError('minlength')"
                        class="form-text text-danger"
                      >
                        لا يقل الرقم عن 8 أرقام
                      </div>
                      <div
                        *ngIf="getSupervisorLandlineNumber.hasError('pattern')"
                        class="form-text text-danger"
                      >
                        ادخل ارقام فقط
                      </div>
                    </ng-container>
                </div>
                </div>
                <button class="btn btn-primary ms-2 float-start back" (click)="back()">
                  تراجع
                </button>

                <button
                  *ngIf="!isEdit"
                  [disabled]="!branchForm.valid"
                  class="btn btn-danger ms-2 float-start save"
                  (click)="AddBranch()"
                >
                  اضافة
                </button>
                <button
                  *ngIf="isEdit"
                  [disabled]="!branchForm.valid"
                  class="btn ms-2 float-start color save"
                  (click)="saveUpdate()"
                >
                  حفظ
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- table
  <div class="main-content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-dark bg-dark">
              <h4 class="card-title text-center text-white">
                عرض فروع الاكاديميه
              </h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table text-center">
                  <thead class="text-primary">
                    <th>م</th>
                    <th>اسم الفرع</th>
                    <th>اسم مشرف الفرع</th>
                    <th>التليفون المحمول</th>
                    <th>التليفون الارضي</th>
                    <th>تعديل</th>
                    <th>حذف</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let branch of branches; let i = index">
                      <td>
                        {{ i + 1 }}
                      </td>
                      <td>
                        {{ branch.name }}
                      </td>
                      <td>
                        {{ branch.supervisorName }}
                      </td>
                      <td>
                        {{ branch.supervisorPhoneNumber }}
                      </td>
                      <td>
                        {{ branch.supervisorLandlineNumber }}
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          type="submit"
                          class="btn btn-danger"
                          (click)="EditBranch(branch.id)"
                        >
                          تعديل
                        </button>
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          type="submit"
                          (click)="DeleteBranch(branch.id)"
                          class="btn btn-danger"
                        >
                          حذف
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<p class="p-3 d-flex justify-content-start">
  <button
    class="btn btn-primary p-3 fs-4 show"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    عرض فروع الاكاديميه
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="main-content mt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table text-center table table-striped table-hover">
                  <thead>
                    <tr>
                    <th>م</th>
                    <th>اسم الفرع</th>
                    <th>اسم مشرف الفرع</th>
                    <th>التليفون المحمول</th>
                    <th>التليفون الارضي</th>
                    <th>تعديل</th>
                    <th>حذف</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let branch of branches; let i = index">
                      <td>
                        {{ i + 1 }}
                      </td>
                      <td>
                        {{ branch.name }}
                      </td>
                      <td>
                        {{ branch.supervisorName }}
                      </td>
                      <td>
                        {{ branch.supervisorPhoneNumber }}
                      </td>
                      <td>
                        {{ branch.supervisorLandlineNumber }}
                      </td>

                      <td>
                        <button class="btn btn-warning"   (click)="EditBranch(branch.id)">
                            <i class="bi bi-pencil-square text-light"></i>
                      </button>
                      </td>
                      <td>
                        <button class="btn btn-danger"  (click)="DeleteBranch(branch.id)">
                          <i class="bi bi-trash3-fill"></i>
                      </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
